node_modules/
backend/vendor/
backend/node_modules/
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/
.env
.env.*
backend/.env
backend/.env.*
